/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
    color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
    background-color: #cbbcb1;
}



.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
    font-size: 1.75rem;
    letter-spacing: 3px;
}
.headingCol{
    padding-top: 9vw;
    padding-left: 9vw;
}
.heading{
    font-weight: bold;
    font-size: 4vw;
    color: #070748;
}

#IntImg1{
    padding-right: 4vw;
    padding-top : 2vw;
}
.navLink{
    font-weight: 450;
}


body {
    height: 100%;
    background-image: url("./images/bgwebsite.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}


